In [109]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
#        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [110]:
# Load train dataset on kaggle
#train = pd.read_csv('/kaggle/input/titanic/train.csv')
#test = pd.read_csv("/kaggle/input/titanic/test.csv")
#train.head()

In [111]:
# Load train dataset on local device
train = pd.read_csv('train.csv')
test = pd.read_csv("test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [112]:
#trying to figure the amount of nan values
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [113]:
#trying to figure the amount of nan values
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [114]:
#replacing all nan values of age with mean age for train
mean_age = train["Age"].mean()
train['Age'].fillna(mean_age, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [115]:
#replacing all nan values of age with mean age for test
mean_age = test["Age"].mean()
test['Age'].fillna(mean_age, inplace=True)
count = test.isna().sum()

In [116]:
#replacing all nan values embark with the mode in train
mode_embark = train['Embarked'].mode()[0]  
train['Embarked'].fillna(mode_embark, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [117]:
#replacing all nan values of age with mean age for test
mean_age = test["Fare"].mean()
test['Fare'].fillna(mean_age, inplace=True)
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [118]:
unique_ticket = len(train['Ticket'].unique())
unique_ticket

681

In [130]:
#creating a new column for age
def modify_age(row):
    original_value = row['Age']
    if original_value < 11:
        return "Under 12 years old"  
    elif original_value >= 12 and original_value < 24:
        return "12-24 years old"   
    elif original_value >= 24 and original_value < 45:
        return "24-45 years old"  
    elif original_value >= 45 and original_value < 65:
        return "45-64 years old"   
    else:
        return "65 years or older" 

train['Ages'] = train.apply(modify_age, axis=1)
test['Ages'] = test.apply(modify_age, axis=1)

train.head()

KeyError: 'Age'

In [131]:
#creating a new column for sibsp
def modify_sibsp(row):
    original_value = row['SibSp']
    if original_value == 0:
        return "0 sibsp members"  
    elif original_value >= 1 and original_value < 5:
        return "1-4 sibsp members"    
    else:
        return "5+ sibsp members" 

train['Sibsp'] = train.apply(modify_sibsp, axis=1)
test['Sibsp'] = test.apply(modify_sibsp, axis=1)

train.head()

KeyError: 'SibSp'

In [132]:
#creating a new column for sibsp
def modify_parch(row):
    original_value = row['Parch']
    if original_value == 0:
        return "0 parch members"  
    elif original_value >= 1 and original_value < 5:
        return "1-4 parch members"    
    else:
        return "5+ parch members" 

train['parch'] = train.apply(modify_parch, axis=1)
test['parch'] = test.apply(modify_parch, axis=1)

train.head()

KeyError: 'Parch'

In [ ]:
#creating a new column for sibsp
def modify_fare(row):
    original_value = row['Fare']
    if original_value < 10:
        return "Fare Under 10"  
    elif original_value >= 11 and original_value < 30:
        return "Fare 11-30"    
    else:
        return "Fare 31+" 

train['fare'] = train.apply(modify_fare, axis=1)
test['fare'] = test.apply(modify_fare, axis=1)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ages,Sibsp,parch,fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,12-24 years old,1-4 sibsp members,0 parch members,Fare Under 10
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10

In [123]:
#dropping name and ticket(cuz unique and doesnt help with data analysis)
#dropping cabin cuz 75% values are nan
train = train.drop(['Name', 'Cabin', 'Ticket', 'PassengerId', 'SibSp', 'Parch', 'Fare', 'Age'], axis=1)
test = test.drop(['Name', 'Cabin', 'Ticket', 'PassengerId', 'SibSp', 'Parch', 'Fare', 'Age'], axis=1)
train.head()

,Survived,Pclass,Sex,Embarked,Ages,Sibsp,parch,fare
0,0,3,male,S,12-24 years old,1-4 sibsp members,0 parch members,Fare Under 10
1,1,1,female,C,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
2,1,3,female,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10
3,1,1,female,S,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
4,0,3,male,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10

In [133]:
# Get features and labels
features = train.values[:, 1:]
labels = train.values[:, 0]
print('array of labels: shape ' + str(np.shape(labels)))
print('array of feature matrix: shape ' + str(np.shape(features)))
labels[0]

array of labels: shape (891,)
array of feature matrix: shape (891, 7)

0

In [134]:
from sklearn.preprocessing import OneHotEncoder

#encode the features
encoder= OneHotEncoder(sparse =False)
features_transformed = encoder.fit_transform(features)

print('array of x_train: shape ' + str(np.shape(features_transformed)))
print(features_transformed[0])

array of x_train: shape (891, 22)
[0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1.]

c:\Users\suchi\anaconda3\envs\CS484\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [135]:
#making the training and validation set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_transformed, labels, test_size=0.2, random_state=42)
print('array of x_train: shape ' + str(np.shape(X_train)))
print('array of x_test: shape ' + str(np.shape(X_test)))
print('array of y_test: shape ' + str(np.shape(y_train)))
print('array of y_train: shape ' + str(np.shape(y_test)))

array of x_train: shape (712, 22)
array of x_test: shape (179, 22)
array of y_test: shape (712,)
array of y_train: shape (179,)

In [136]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared (R2): {r2}")

Mean Squared Error: 0.1463890715018331
R-squared (R2): 0.3963381930514499

In [137]:
from sklearn.linear_model import LogisticRegression
model_2 = LogisticRegression()
model_2.fit(X_train, y_train)
y_pred_2 = model_2.predict(X_test)

score = model_2.score(X_test, y_test)
print(score)

ValueError: Unknown label type: unknown. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.