In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
#        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# Load train dataset on kaggle
#train = pd.read_csv('/kaggle/input/titanic/train.csv')
#test = pd.read_csv("/kaggle/input/titanic/test.csv")
#train.head()

In [3]:
# Load train dataset on local device
train = pd.read_csv('train.csv')
test = pd.read_csv("test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#trying to figure the amount of nan values
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
#trying to figure the amount of nan values
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
#replacing all nan values of age with mean age for train
mean_age = train["Age"].mean()
train['Age'].fillna(mean_age, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
#replacing all nan values of age with mean age for test
mean_age = test["Age"].mean()
test['Age'].fillna(mean_age, inplace=True)
count = test.isna().sum()

In [8]:
#replacing all nan values embark with the mode in train
mode_embark = train['Embarked'].mode()[0]  
train['Embarked'].fillna(mode_embark, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [9]:
#replacing all nan values of age with mean age for test
mean_age = test["Fare"].mean()
test['Fare'].fillna(mean_age, inplace=True)
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [10]:
unique_ticket = len(train['Ticket'].unique())
unique_ticket

681

In [11]:
#creating a new column for age
def modify_age(row):
    original_value = row['Age']
    if original_value < 11:
        return "Under 12 years old"  
    elif original_value >= 12 and original_value < 24:
        return "12-24 years old"   
    elif original_value >= 24 and original_value < 45:
        return "24-45 years old"  
    elif original_value >= 45 and original_value < 65:
        return "45-64 years old"   
    else:
        return "65 years or older" 

train['Ages'] = train.apply(modify_age, axis=1)
test['Ages'] = test.apply(modify_age, axis=1)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ages
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,12-24 years old
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,24-45 years old
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,24-45 years old
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,24-45 years old
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24-45 years old

In [12]:
#creating a new column for sibsp
def modify_sibsp(row):
    original_value = row['SibSp']
    if original_value == 0:
        return "0 sibsp members"  
    elif original_value >= 1 and original_value < 5:
        return "1-4 sibsp members"    
    else:
        return "5+ sibsp members" 

train['Sibsp'] = train.apply(modify_sibsp, axis=1)
test['Sibsp'] = test.apply(modify_sibsp, axis=1)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ages,Sibsp
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,12-24 years old,1-4 sibsp members
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,24-45 years old,1-4 sibsp members
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,24-45 years old,0 sibsp members
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,24-45 years old,1-4 sibsp members
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24-45 years old,0 sibsp members

In [13]:
#creating a new column for sibsp
def modify_parch(row):
    original_value = row['Parch']
    if original_value == 0:
        return "0 parch members"  
    elif original_value >= 1 and original_value < 5:
        return "1-4 parch members"    
    else:
        return "5+ parch members" 

train['parch'] = train.apply(modify_parch, axis=1)
test['parch'] = test.apply(modify_parch, axis=1)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ages,Sibsp,parch
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,12-24 years old,1-4 sibsp members,0 parch members
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,24-45 years old,1-4 sibsp members,0 parch members
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,24-45 years old,0 sibsp members,0 parch members
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,24-45 years old,1-4 sibsp members,0 parch members
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24-45 years old,0 sibsp members,0 parch members

In [14]:
#creating a new column for sibsp
def modify_fare(row):
    original_value = row['Fare']
    if original_value < 10:
        return "Fare Under 10"  
    elif original_value >= 11 and original_value < 30:
        return "Fare 11-30"    
    else:
        return "Fare 31+" 

train['fare'] = train.apply(modify_fare, axis=1)
test['fare'] = test.apply(modify_fare, axis=1)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ages,Sibsp,parch,fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,12-24 years old,1-4 sibsp members,0 parch members,Fare Under 10
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10

In [15]:
#dropping name and ticket(cuz unique and doesnt help with data analysis)
#dropping cabin cuz 75% values are nan
train = train.drop(['Name', 'Cabin', 'Ticket', 'PassengerId', 'SibSp', 'Parch', 'Fare', 'Age'], axis=1)
test = test.drop(['Name', 'Cabin', 'Ticket', 'PassengerId', 'SibSp', 'Parch', 'Fare', 'Age'], axis=1)
train.head()

,Survived,Pclass,Sex,Embarked,Ages,Sibsp,parch,fare
0,0,3,male,S,12-24 years old,1-4 sibsp members,0 parch members,Fare Under 10
1,1,1,female,C,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
2,1,3,female,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10
3,1,1,female,S,24-45 years old,1-4 sibsp members,0 parch members,Fare 31+
4,0,3,male,S,24-45 years old,0 sibsp members,0 parch members,Fare Under 10

In [16]:
# Get features and labels
features = train.values[:, 1:]
labels = train.values[:, 0].astype(float)
print('array of labels: shape ' + str(np.shape(labels)))
print('array of feature matrix: shape ' + str(np.shape(features)))
labels[0]

array of labels: shape (891,)
array of feature matrix: shape (891, 7)

0.0

In [21]:
from sklearn.preprocessing import OneHotEncoder

#encode the features
encoder= OneHotEncoder(sparse =False)
features_transformed = encoder.fit_transform(features)

print('array of x_train: shape ' + str(np.shape(features_transformed)))
print('array of y_train: shape ' + str(np.shape(labels)))
print(labels[0])

print(type(features_transformed))

array of x_train: shape (891, 22)
array of y_train: shape (891,)
0.0
<class 'numpy.ndarray'>

/Users/rahimaadnan/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:
#making the training and validation set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_transformed, labels, test_size=0.2, random_state=42)
print('array of x_train: shape ' + str(np.shape(X_train)))
print('array of x_test: shape ' + str(np.shape(X_test)))
print('array of y_test: shape ' + str(np.shape(y_train)))
print('array of y_train: shape ' + str(np.shape(y_test)))


print(type(X_train))

array of x_train: shape (712, 22)
array of x_test: shape (179, 22)
array of y_test: shape (712,)
array of y_train: shape (179,)
<class 'numpy.ndarray'>

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model_2 = LogisticRegression()
model_2.fit(X_train, y_train)
y_pred_2 = model_2.predict(X_test)

accuracy = accuracy_score(y_test, y_pred_2)
print(accuracy)

0.7988826815642458

In [20]:
print(y_pred_2)

[0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1.
 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0.
 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1.]

In [ ]:
#tuning with different norms and solver algs 
#scitkit log regression documentation:
'''
Warning The choice of the algorithm depends on the penalty chosen. Supported penalties by solver:
‘lbfgs’ - [‘l2’, None]

‘liblinear’ - [‘l1’, ‘l2’]

‘newton-cg’ - [‘l2’, None]

‘newton-cholesky’ - [‘l2’, None]

‘sag’ - [‘l2’, None]

‘saga’ - [‘elasticnet’, ‘l1’, ‘l2’, None]
'''



all_solvers_penalty = []

print("Tuning with L1/L2 Norms with different solver algs and 10 fold cross valdations:")
print("-------------------------------")

#L1 Regularization 
L1 = LogisticRegression(penalty='l1', solver='liblinear')
L1.fit(X_train, y_train) #use data from above 
L1_predict = L1.predict(X_test)
L1_accuracy =  accuracy_score(y_test, y_predict)
print("L1-liblinear: This is train accuracy:", L1_accuracy)
#lets try cross validation
five_fold = cross_val_score(L1,X_train,y_train, cv=5)
print("L1-liblinear: Ten Folds for training data :", scores)
three_folds = pd.Series(five_fold)
print("L1-liblinear: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L1-liblinear",three_folds.mean()))
print("-------------------------------")



#L2 Regularization 
L2 = LogisticRegression(penalty='l2', solver='liblinear')
L2.fit(X_train, y_train) #use data from above 
L2_predict = L2.predict(X_test)
L2_accuracy =  accuracy_score(y_test, y_predict)
print("L2-liblinear: This is train accuracy:", L2_accuracy)
#lets try cross validation
five_fold = cross_val_score(L2,X_train,y_train, cv=5)
print("L2-liblinear: Ten Folds for training data :", scores)
three_folds = pd.Series(five_fold)
print("L2-liblinear: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L2-liblinear",three_folds.mean()))

print("-------------------------------")

#L2 Regularization 
L2 = LogisticRegression(penalty='l2', solver='lbfgs')
L2.fit(X_train, y_train) #use data from above 
L2_predict = L2.predict(X_test)
L2_accuracy =  accuracy_score(y_test, y_predict)
print("L2-lbfgs: This is train accuracy:", L2_accuracy)
#lets try cross validation
five_fold = cross_val_score(L2,X_train,y_train, cv=5)
print("L2-lbfgs: Ten Folds for training data :", scores)
three_folds = pd.Series(five_fold)
print("L2-lbfgs: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L2-lbfgs",three_folds.mean()))

print("-------------------------------")
L2 = LogisticRegression(penalty='l2', solver='newton-cg')
L2.fit(X_train, y_train) #use data from above 
L2_predict = L2.predict(X_test)
L2_accuracy =  accuracy_score(y_test, y_predict)
print("L2-newton-cg: This is train accuracy:", L2_accuracy)
#lets try cross validation
five_fold = cross_val_score(L2,X_train,y_train, cv=5)
print("L2-newton-cg: Ten Folds for training data :", scores)
three_folds = pd.Series(five_fold)
print("L2-newton-cg: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L2-newton-c",three_folds.mean()))


print("-------------------------------")
L2 = LogisticRegression(penalty='l2', solver='newton-cholesky')
L2.fit(X_train, y_train) #use data from above 
L2_predict = L2.predict(X_test)
L2_accuracy =  accuracy_score(y_test, y_predict)
print("L2-newton-cholesky: This is train accuracy:", L2_accuracy)
#lets try cross validation
five_fold = cross_val_score(L2,X_train,y_train, cv=5)
print("L2-newton-cholesky: Ten Folds for training data :", scores)
three_folds = pd.Series(five_fold)
print("L2-newton-cholesky: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L2-newton-cholesky",three_folds.mean()))



print("-------------------------------")
L2 = LogisticRegression(penalty='l2', solver='sag')
L2.fit(X_train, y_train) #use data from above 
L2_predict = L2.predict(X_test)
L2_accuracy =  accuracy_score(y_test, y_predict)
print("L2-sag: This is train accuracy:", L2_accuracy)
#lets try cross validation
five_fold = cross_val_score(L2,X_train,y_train, cv=5)
print("L2-sag: Ten Folds for training data :", scores)
three_folds = pd.Series(five_fold)
print("L2-sag: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L2-sag",three_folds.mean()))

print("-------------------------------")
#L1 Regularization 
L1 = LogisticRegression(penalty='l1', solver='saga')
L1.fit(X_train, y_train) #use data from above 
L1_predict = L1.predict(X_test)
L1_accuracy =  accuracy_score(y_test, y_predict)
print("L1-saga: This is train accuracy:", L1_accuracy)
#lets try cross validation
five_fold = cross_val_score(L1,X_train,y_train, cv=5)
print("L1-saga: Ten Folds for training data :", scores)
ten_folds = pd.Series(five_fold)
print("L1-saga: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L1-saga",three_folds.mean()))

print("-------------------------------")
L2 = LogisticRegression(penalty='l2', solver='saga')
L2.fit(X_train, y_train) #use data from above 
L2_predict = L2.predict(X_test)
L2_accuracy =  accuracy_score(y_test, y_predict)
print("L2-saga: This is train accuracy:", L2_accuracy)
#lets try cross validation
five_fold = cross_val_score(L2,X_train,y_train, cv=5)
print("L2-saga: Ten Folds for training data :", scores)
three_folds = pd.Series(five_fold)
print("L2-saga: The min, max, avg of 3 folds", three_folds.min(), three_folds.max(), three_folds.mean())
all_solvers_penalty.append(("L2-saga",three_folds.mean()))
print("-------------------------------")
all_solvers_penalty1 = (sorted(all_solvers_penalty, key = lambda x: x[1]))
print("The best was:", all_solvers_penalty[0])