In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
#        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
# Load train dataset on kaggle
#train = pd.read_csv('/kaggle/input/titanic/train.csv')
#test = pd.read_csv("/kaggle/input/titanic/test.csv")
#train.head()

In [4]:
# Load train dataset on local device
train = pd.read_csv('train.csv')
test = pd.read_csv("test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#trying to figure the amount of nan values
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
#trying to figure the amount of nan values
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
#replacing all nan values of age with mean age for train
mean_age = train["Age"].mean()
train['Age'].fillna(mean_age, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
#replacing all nan values of age with mean age for test
mean_age = test["Age"].mean()
test['Age'].fillna(mean_age, inplace=True)
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
#replacing all nan values embark with the mode in train
mode_embark = train['Embarked'].mode()[0]  
train['Embarked'].fillna(mode_embark, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [10]:
#replacing all nan values of age with mean age for test
mean_age = test["Fare"].mean()
test['Fare'].fillna(mean_age, inplace=True)
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [11]:
unique_ticket = len(train['Ticket'].unique())
unique_ticket

681

In [12]:
#dropping name and ticket(cuz unique and doesnt help with data analysis)
#dropping cabin cuz 75% values are nan
train = train.drop(['Name', 'Cabin', 'Ticket', 'PassengerId'], axis=1)
test = test.drop(['Name', 'Cabin', 'Ticket', 'PassengerId'], axis=1)

     Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         3    male  34.50000      0      0    7.8292        Q
1         3  female  47.00000      1      0    7.0000        S
2         2    male  62.00000      0      0    9.6875        Q
3         3    male  27.00000      0      0    8.6625        S
4         3  female  22.00000      1      1   12.2875        S
..      ...     ...       ...    ...    ...       ...      ...
413       3    male  30.27259      0      0    8.0500        S
414       1  female  39.00000      0      0  108.9000        C
415       3    male  38.50000      0      0    7.2500        S
416       3    male  30.27259      0      0    8.0500        S
417       3    male  30.27259      1      1   22.3583        C

[418 rows x 7 columns]

In [13]:
# Get features and labels
#features = np.delete(train.values, [0,1,3,8], axis=1)
#labels = train.values[:,1]
#print('array of labels: shape ' + str(np.shape(labels)))
#print('array of feature matrix: shape ' + str(np.shape(features)))
#(features)

In [60]:
#implement brackets 

#Age:{Under 12 years old, 12-24 years old, 25-44 years old , 45-64 years old , 65 or older} 
#Age is index 2 
train_features = train.values

for i in train_features:
    get_age = int(i[3])
    
    #print(get_age)
    if (get_age <= 11): #Under 12 years old
        i[3] = "Under 12 years old" 
        #print(i[2])
        
    if (12 <= get_age <= 24):
        i[3] = "12-24 years old" 
        
    elif (25 <= get_age <= 44):
         i[3] = "25-44 years old" 
    
    elif (45 <= get_age <= 64):
         i[3] = "45-64 years old" 
    
    elif (get_age >= 65):
        i[3] = "65 or older" 

        
#print(train_features[:,3])     
        
    
#now sibsp: { 0 members,  1-4 members,  5+  members}
#sibsp is index 4

for i in train_features:
    get_sibsp = int(i[4])
    
    if(get_sibsp == 0):
        i[4] = "0 members"
    
    elif(1 <= get_sibsp <= 4):
        i[4] = "1-4 members"
    
    elif(get_sibsp >= 5):
        i[4] = "5+ members"
        
    
#print(train_features[:,4])    


#now parch:  0 members,  1-4 members,  5+  members}
# parch is index 5 
for i in train_features:
    get_parch = int(i[5])
    
    if(get_parch  == 0):
        i[5] = "0 members"
    
    elif(1 <= get_parch  <= 4):
        i[5] = "1-4 members"
    
    elif(get_parch  >= 5):
        i[5] = "5+ members"
        
#print(train_features[:,5])   


#now fare: { under 10,11-30, 31+}
#fare is index 6
for i in train_features:
    get_fares = int(i[6])
    
    if (get_fares <= 10):
        i[6] = "Fare Under 10 "
    
    elif (11 <= get_fares <= 30):
        i[6] = "Fare 11-30"
        
    elif (get_fares >= 31):
        i[6] = "Fare 31+"
    
    
#print(train_features[:,6])

[0 2 'male' '25-44 years old' '0 members' '0 members' 'Fare Under 10 ' 'S']