In [236]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [237]:
# Load train dataset on local device
train = pd.read_csv('train.csv')
test = pd.read_csv("test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [238]:
#trying to figure the amount of nan values
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [239]:
#trying to figure the amount of nan values
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [240]:
#replacing all nan values of age with mean age for train
mean_age = train["Age"].mean()
train['Age'].fillna(mean_age, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [241]:
#replacing all nan values of age with mean age for test
mean_age = test["Age"].mean()
test['Age'].fillna(mean_age, inplace=True)
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [242]:
#replacing all nan values embark with the mode in train
mode_embark = train['Embarked'].mode()[0]  
train['Embarked'].fillna(mode_embark, inplace=True)
count = train.isna().sum()
count

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [243]:
#replacing all nan values of age with mean age for test
mean_age = test["Fare"].mean()
test['Fare'].fillna(mean_age, inplace=True)
count = test.isna().sum()
count

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [244]:
#dropping name and ticket(cuz unique and doesnt help with data analysis)
#dropping cabin cuz 75% values are nan
train = train.drop(['Name', 'Cabin', 'Ticket', 'PassengerId'], axis=1)
test = test.drop(['Name', 'Cabin', 'Ticket', 'PassengerId'], axis=1)

In [245]:
train_labels = train.values[:,0]
train = train.drop('Survived', axis=1)
train_features = train.values



#print(test.columns)
#Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

test_features = test.values

In [246]:
#implement brackets for training set 

#print(train.columns)
#Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

 

#Age:{Under 12 years old, 12-24 years old, 25-44 years old , 45-64 years old , 65 or older} 
#Age is index 2 

for i in train_features:
    get_age = int(i[2])
    
    #print(get_age)
    if (get_age <= 11): #Under 12 years old
        i[2] = "Under 12 years old" 
        continue
        
    if (12 <= get_age <= 24):
        i[2] = "12-24 years old" 
        continue
        
    elif (25 <= get_age <= 44):
        i[2] = "25-44 years old" 
        continue
    
    elif (45 <= get_age <= 64):
        i[2] = "45-64 years old" 
        continue
        
    
    elif (get_age >= 65):
        i[2] = "65 years or older" 
        continue

        

        
    
#now sibsp: { 0 members,  1-4 members,  5+  members}
#sibsp is index 3

for i in train_features:
    get_sibsp = int(i[3])
    
    if(get_sibsp == 0):
        i[3] = "0 sibsp members"
    
    elif(1 <= get_sibsp <= 4):
        i[3] = "1-4 sibsp members"
    
    elif(get_sibsp >= 5):
        i[3] = "5+ sibsp members"
        
    
#print(train_features[:,4])    


#now parch:  0 members,  1-4 members,  5+  members}
# parch is index 4
for i in train_features:
    get_parch = int(i[4])
    
    if(get_parch  == 0):
        i[4] = "0 parch members"
    
    elif(1 <= get_parch  <= 4):
        i[4] = "1-4 parch members"
    
    elif(get_parch  >= 5):
        i[4] = "5+ parch members"
        



#now fare: { under 10,11-30, 31+}
#fare is index 5
for i in train_features:
    get_fares = int(i[5])
    
    if (get_fares <= 10):
        i[5] = "Fare Under 10 "
    
    elif (11 <= get_fares <= 30):
        i[5] = "Fare 11-30"
        
    elif (get_fares >= 31):
        i[5] = "Fare 31+"
    

print(train_features[0])

[3 'male' '12-24 years old' '1-4 sibsp members' '0 parch members'
 'Fare Under 10 ' 'S']

In [247]:
#implement brackets for test set 



#Age:{Under 12 years old, 12-24 years old, 25-44 years old , 45-64 years old , 65 or older} 
#Age is index 3
for i in test_features:
    get_age = int(i[2])
    
    if (get_age <= 11): #Under 12 years old
        i[2] = "Under 12 years old" 
        continue
        
    if (12 <= get_age <= 24):
        i[2] = "12-24 years old" 
        continue
        
    elif (25 <= get_age <= 44):
        i[2] = "25-44 years old" 
        continue
    
    elif (45 <= get_age <= 64):
        i[2] = "45-64 years old" 
        continue
    
    elif (get_age >= 65):
        i[2] = "65 years or older" 
        continue
  
        
    
#now sibsp: { 0 members,  1-4 members,  5+  members}
#sibsp is index 3
for i in test_features:
    get_sibsp = int(i[3])
    
    if(get_sibsp == 0):
        i[3] = "0 sibsp members"
    
    elif(1 <= get_sibsp <= 4):
        i[3] = "1-4 sibsp members"
    
    elif(get_sibsp >= 5):
        i[3] = "5+ sibsp members"
        
 



# now parch:  0 members,  1-4 members,  5+  members
#parch is index 4
for i in test_features:
    get_parch = int(i[4])
    
    if(get_parch  == 0):
        i[4] = "0 parch members"
    
    elif(1 <= get_parch  <= 4):
        i[4] = "1-4 parch members"
    
    elif(get_parch  >= 5):
        i[4] = "5+ parch members"
        



#now fare: { under 10,11-30, 31+}
#fare is index 5
for i in test_features:
    get_fares = int(i[5])
    
    if (get_fares <= 10):
        i[5] = "Fare Under 10 "
    
    elif (11 <= get_fares <= 30):
        i[5] = "Fare 11-30"
        
    elif (get_fares >= 31):
        i[5] = "Fare 31+"

In [248]:
#encode the train features 

#revert the bracketed numpy train features to an df
train_features = pd.DataFrame(train_features, columns=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'])

#now use "get_dummies" to make one hot encoding 
train_features = pd.get_dummies(train_features) 
#https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html
train_features.head()

/var/folders/55/8whgt03j51bfq44rqmbzvv0c0000gn/T/ipykernel_89009/348174199.py:7: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  train_features = pd.get_dummies(train_features)

,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_12-24 years old,Age_25-44 years old,Age_45-64 years old,Age_65 years or older,Age_Under 12 years old,...,SibSp_5+ sibsp members,Parch_0 parch members,Parch_1-4 parch members,Parch_5+ parch members,Fare_Fare 11-30,Fare_Fare 31+,Fare_Fare Under 10,Embarked_C,Embarked_Q,Embarked_S
0,0,0,1,0,1,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
1,1,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,1,0,1,0,0
2,0,0,1,1,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,1
3,1,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,0,0,1,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,1

In [249]:
#encode the test features 
test_features = pd.DataFrame(test_features, columns=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'])
test_features = pd.get_dummies(test_features) 
test_features.head()

/var/folders/55/8whgt03j51bfq44rqmbzvv0c0000gn/T/ipykernel_89009/28810191.py:3: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  test_features = pd.get_dummies(test_features)

,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_12-24 years old,Age_25-44 years old,Age_45-64 years old,Age_65 years or older,Age_Under 12 years old,...,SibSp_5+ sibsp members,Parch_0 parch members,Parch_1-4 parch members,Parch_5+ parch members,Fare_Fare 11-30,Fare_Fare 31+,Fare_Fare Under 10,Embarked_C,Embarked_Q,Embarked_S
0,0,0,1,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,1,0
1,0,0,1,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,1
2,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,1,0
3,0,0,1,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4,0,0,1,1,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1